# 4/12/2024
### BLR-region.tmg
* ---latitudes---
* Bubble Sort - time: 0.028954 seconds, comparisons: 125751, modifications: 176954
* Merge Sort - time: 0.002030 comparisons: 4508 modifications: 4508
* Quick Sort - time: 0.025993 comparisons: 125751 modifications: 252003
* ---longitudes---
* Bubble Sort - time: 0.027956 seconds, comparisons: 125751, modifications: 160956
* Merge Sort - time: 0.001995 comparisons: 4508 modifications: 4508
* Quick Sort - time: 0.025966 comparisons: 125751 modifications: 252003

### amsterdam2-area.tmg
* ---latitudes---
* Bubble Sort - time: 0.000000 seconds, comparisons: 10, modifications: 14
* Merge Sort - time: 0.000000 comparisons: 12 modifications: 12
* Quick Sort - time: 0.000000 comparisons: 10 modifications: 24
* Southmost vertex: NY67@KelSt : 42.937145
* ---longitudes---
* Bubble Sort - time: 0.000000 seconds, comparisons: 10, modifications: 6
* Merge Sort - time: 0.000000 comparisons: 12 modifications: 12
* Quick Sort - time: 0.000000 comparisons: 10 modifications: 24
* Westmost vertex: NY30_N/NY67_E : -74.18974

