# 4/12/2024
### BLR-region.tmg
* ---latitudes---
* Bubble Sort - time: 0.043055 seconds, comparisons: 125751, modifications: 176954
* Merge Sort - time: 0.000000 comparisons: 4508 modifications: 4508
* Quick Sort - time: 0.015617 comparisons: 125751 modifications: 252003
* Northmost vertex: E95/M08@RUS/BLR : 55.856708
* Southmost vertex: E85/M12/M19@BLR/UKR : 51.826707
* ---longitudes---
* Bubble Sort - time: 0.025711 seconds, comparisons: 125751, modifications: 160956
* Merge Sort - time: 0.000000 comparisons: 4508 modifications: 4508
* Quick Sort - time: 0.031268 comparisons: 125751 modifications: 252003
* Eastmost vertex: M10/A240@BLR/RUS : 31.609554
* Westmost vertex: E30/M01/DK68@POL/BLR : 23.565845


### amsterdam2-area.tmg
* ---latitudes---
* Bubble Sort - time: 0.000000 seconds, comparisons: 10, modifications: 14
* Merge Sort - time: 0.000000 comparisons: 12 modifications: 12
* Quick Sort - time: 0.000000 comparisons: 10 modifications: 24
* Northmost vertex: NY30@MapAveExt : 42.976823
* Southmost vertex: NY67@KelSt : 42.937145
* ---longitudes---
* Bubble Sort - time: 0.000000 seconds, comparisons: 10, modifications: 6
* Merge Sort - time: 0.000000 comparisons: 12 modifications: 12
* Quick Sort - time: 0.000000 comparisons: 10 modifications: 24
* Eastmost vertex: NY67@WidSusRd : -74.163208
* Westmost vertex: NY30_N/NY67_E : -74.18974

### boston20-area.tmg
* ---latitudes---
* Bubble Sort - time: 0.034910 seconds, comparisons: 128778, modifications: 213584
* Merge Sort - time: 0.001969 comparisons: 4568 modifications: 4568
* Quick Sort - time: 0.026956 comparisons: 128778 modifications: 258063
* Northmost vertex: MA114@BosSt : 42.645774
* Southmost vertex: MA123@WarAve : 42.0801
* ---longitudes---
* Bubble Sort - time: 0.025958 seconds, comparisons: 128778, modifications: 100716
* Merge Sort - time: 0.001995 comparisons: 4568 modifications: 4568
* Quick Sort - time: 0.027924 comparisons: 128778 modifications: 258063
* Eastmost vertex: MA127@HaleSt : -70.803752
* Westmost vertex: MA9_W/MA30_W : -71.434527


