# 4/12/2024
### BLR-region.tmg
---latitudes---
* Bubble Sort - time: 0.028954 seconds, comparisons: 125751, modifications: 176954
* Merge Sort - time: 0.002030 comparisons: 4508 modifications: 4508
* Quick Sort - time: 0.025993 comparisons: 125751 modifications: 252003
---longitudes---
* Bubble Sort - time: 0.027956 seconds, comparisons: 125751, modifications: 160956
* Merge Sort - time: 0.001995 comparisons: 4508 modifications: 4508
* Quick Sort - time: 0.025966 comparisons: 125751 modifications: 252003
